<div *ngIf="errorFlag" class="alert alert-danger">{{errorMsg}}}</div>
<form #f="ngForm">
<nav class="navbar navbar-expand-lg bg-light justify-content-start mb-3 p-0">
  <a class="cl-text-black nav-item nav-link" routerLink="../">
    <i class="fas fa-chevron-left"></i></a>
  <a class="cl-text-black navbar-brand" routerLink="./">
    Widgets Edit
  </a>
  <a class="navbar-link navbar-text cl-text-black cl-icon-padding ml-auto" (click)="updateWidget()">
    <i class="fas fa-check fontawsome_icon"></i>
  </a>
</nav>

<div class="container">

    <div class="form-group">
      <label for="imagename">Name</label>
      <input name="imagename"
             type="text"
             class="form-control"
             id='imagename'
             placeholder="{{widget.name}}"
             ngModel
             #imagename="ngModel">
    </div>
    <div class="form-group">
      <label for="imagetext">Text</label>
      <input name="imagetext"
             type="text"
             class="form-control"
             id = 'imagetext'
             placeholder="{{widget.text}}"
             ngModel
             #imagetext="ngModel">
    </div>
    <div class="form-group">
      <label for="imageurl">URL</label>
      <input name="imageurl"
             type="text"
             class="form-control"
             id = 'imageurl'
             placeholder="{{widget.url}}"
             ngModel
             #imageurl="ngModel">
    </div>
    <div class="form-group">
      <label for="imagewidth">Width</label>
      <input name="imagewidth"
             type="text"
             class="form-control"
             id = 'imagewidth'
             placeholder="{{widget.width}}"
             ngModel
             #imagewidth="ngModel">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="exampleInputFile">Upload</label>-->
      <!--<input name="exampleInputFile"-->
             <!--type="file"-->
             <!--class="form-control"-->
             <!--id = 'exampleInputFile'-->
             <!--[ngModel]=""-->
             <!--ngModel-->
             <!--#exampleInputFile="ngModel">-->
    <!--</div>-->

  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <input  name="myFile"   type="file" class="form-control"/>
    <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
    <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
    <input  name="pageId" value="{{pageId}}"   style="display: none"/>
    <input  name="userId" value="{{userId}}"   style="display: none"/>
    <button type="submit"  onclick = "submit()" class="btn btn-block btn-primary">Upload Image</button>
    <br/>
  </form>

  <a class="btn btn-danger  btn-block" (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar fixed-bottom bg-light justify-content-end p-0">
  <div class="container-fuild">
    <a [routerLink]="['/user', userId]" class="navbar-link navbar-text cl-text-black cl-icon-padding ml-auto">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
</form>
