<div *ngIf="errorFlag" class="alert alert-danger">{{errorMsg}}}</div>

<nav class="navbar navbar-expand-lg bg-light justify-content-start mb-3 p-0">
  <a class="cl-text-black nav-item nav-link" routerLink="../">
    <i class="fas fa-chevron-left"></i></a>
  <a class="cl-text-black navbar-brand" routerLink="./">
    New Page
  </a>
  <a (click)="createNewPage()" class="navbar-link navbar-text cl-text-black cl-icon-padding ml-auto">
    <i class="fas fa-check fontawsome_icon"></i>
  </a>
</nav>

<div class="container">
  <form #f="ngForm">
    <div class="form-group">
      <label for="pagename">Name</label>
      <input id="pagename"
             name="pageName"
             type="text"
             class="form-control"
             placeholder="Page Name"
             ngModel
             #pageName="ngModel">
    </div>

    <div class="form-group">
      <label for="pagetitle">Title</label>
      <input id="pagetitle"
             name="pageTitle"
             type="text"
             class="form-control"
             placeholder="Page Title"
             ngModel
             #pageTitle="ngModel">
    </div>
  </form>
</div>

<nav class="navbar fixed-bottom bg-light justify-content-end p-0">
  <div class="container-fuild">
    <a [routerLink]="['/user', userId]" class="navbar-link navbar-text cl-text-black cl-icon-padding ml-auto">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
