<nav class="navbar navbar-expand-lg bg-light justify-content-start mb-3 p-0">
  <a class="cl-text-black nav-item nav-link" routerLink="../../">
    <i class="fas fa-chevron-left"></i></a>
  <a class="cl-text-black navbar-brand" routerLink="./">
    Widgets
  </a>
  <a class="navbar-link navbar-text cl-text-black cl-icon-padding ml-auto" routerLink="./new">
    <i class="fas fa-plus"></i>
  </a>
</nav>

<div class="container cl-container-padding" appSortable (newIndexes)="reorderWidgets($event)">
  <div *ngFor = "let widget of widgets">
    <div [ngSwitch]="widget.widgetType">
      <div *ngSwitchCase="'HEADING'">
        <div class="float-right">
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="fa fa-cog"></span>
          </a>
        </div>
        <div [ngSwitch]="widget.size">
          <h1 *ngSwitchCase="1">{{widget.text}}</h1>
          <h2 *ngSwitchCase="2">{{widget.text}}</h2>
          <h3 *ngSwitchCase="3">{{widget.text}}</h3>
          <h4 *ngSwitchCase="4">{{widget.text}}</h4>
          <h5 *ngSwitchCase="5">{{widget.text}}</h5>
          <h6 *ngSwitchCase="6">{{widget.text}}</h6>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div>
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}" class="float-right">
            <span class="fa fa-cog"></span>
          </a>
          <img class="img-responsive img-rounded cl-widget-images"
               src="{{widget.url}}">
        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class="embed-responsive embed-responsive-16by9">
        <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"
        class="float-right" style="position: absolute; top:0px; right:0px; z-index: 99;">
        <i class="fas fa-cog youtube"></i>
        </a >
        <iframe width="640" height="360" [src]= getUrl(widget.url) allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>

<!--<div class="container cl-container-padding justify-content-end appSortable" (newIndexes)="reorderWidgets($event)">-->
  <!--<div *ngFor="let widget of widgets">-->
    <!--<div [ngSwitch]="widget.widgetType">-->
      <!--<div *ngSwitchCase="'HEADING'" [ngSwitch]="widget.size">-->
        <!--<span routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"-->
              <!--class="fas fa-cog fontawsome_icon float-right"></span>-->
        <!--<div *ngSwitchCase="1">-->
          <!--<h1>{{widget.text}}</h1>-->
        <!--</div>-->
        <!--<div *ngSwitchCase="3">-->
          <!--<h3>{{widget.text}}</h3>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div *ngSwitchCase="'YOUTUBE'">-->
        <!--<div class="embed-responsive embed-responsive-16by9">-->
          <!--<a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"-->
             <!--class="float-right" style="position: absolute; top:0px; right:0px; z-index: 99;">-->
            <!--<i class="fas fa-cog fontawsome_icon" style="background-color: white"></i>-->
          <!--</a >-->
          <!--<iframe width="640" height="360" [src]="sanitizer.bypassSecurityTrustResourceUrl(widget.url)" allowfullscreen></iframe>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div *ngSwitchCase="'IMAGE'">-->
        <!--<span routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}"-->
              <!--class="fas fa-cog fontawsome_icon float-right"></span>-->
        <!--<img class="img-responsive img-rounded cl-widget-images"-->
        <!--src="{{widget.url}}">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<nav class="navbar fixed-bottom bg-light justify-content-end p-0">
  <div class="container-fluid">
    <a class="navbar-link navbar-text cl-text-black" href="#">
      <i class="fas fa-play fontawsome_icon"></i>
    </a>
    <a class="nav-item nav-link cl-text-black" href="#">
      <i class="fas fa-eye fontawsome_icon"></i>
    </a>
    <a [routerLink]="['/user', userId]" class="navbar-link navbar-text cl-text-black cl-icon-padding ml-auto">
      <i class="fas fa-user fontawsome_icon"></i>
    </a>
  </div>
</nav>
